@{
    ViewBag.Title = "Login with Password";
}

<h2>Login with Password</h2>

@using (Html.BeginForm("LoginWithPassword", "user", FormMethod.Post))
{
    @Html.AntiForgeryToken()    

    <div class="form-horizontal">
        <h4>Enter your details</h4>
        <hr />

        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="form-group">
            <label for="National_ID" class="control-label col-md-2">National ID</label>
            <div class="col-md-10">
                <input type="text" id="National_ID" name="National_ID" class="form-control" value="@ViewBag.NationalId" />
                <span class="text-danger">@ViewBag.NationalIdError</span>
            </div>
        </div>

        <div class="form-group">
            <label for="Password" class="control-label col-md-2">Password</label>
            <div class="col-md-10">
                <input type="password" id="Password" name="Password" class="form-control" />
                <span class="text-danger">@ViewBag.PasswordError</span>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Login" class="btn btn-default" />
            </div>
        </div>

        <span style="color:red; font-weight:bold;">@ViewBag.auth</span>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
